.general-container-glass {
    background-color: #6E4EFFB2;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 12px;
}


.glass-style {
    width: 80%;
    margin: .5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}
