a {
    font-size: .85rem;
    font-weight: 300 !important;
    margin-top: .5rem;
    text-align: center;
}

.title-good {
    color: #2E3192;
    font-weight: 400;
    text-align: center;
    margin: 0;
    font-size: 35px;
    padding: 0 1rem;
}

