.notification{
    position: relative;
    background-color: white;
    color: black;
    padding: 18px 24px;
    border-radius: 7px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 60vw;
}

.close-button{
    position: absolute;
    top: -15px;
    left: -18px;
    background-color: #0475FB;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    padding: 0;
    border: 1px solid white;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}